.navbar-container {
  height: 4rem;
  padding: 0 1.5rem;
  background-color: rgba(240, 116, 209, 0.212);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-container .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.navbar-container .left .search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1.6rem;
  padding: 0 0.5rem;
  border: 1px solid black;
  border-radius: 1.5rem;
  background-color: transparent;
}

.navbar-container .left .search-container #s-input {
  border: none;
  padding: 0 0.4rem;
  background-color: transparent;
}

.navbar-container .middle {
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 0.1rem;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.navbar-container .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  gap: 2rem;
}

.deals {
  background-color: teal;
  text-align: center;
  width: 100%;
  padding: 0.4rem 0;
  margin: auto;
  color: white;
}

.slide-container {
  position: relative;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slide-container .slide-img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.slide-container .slide-img img {
  height: 90%;
  width: 100%;
}

.slide-container .slide-info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 5rem;
}

.slide-container .slide-info .title {
  margin-top: 25%;
  font-weight: 700;
  font-size: 5rem;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
}

.slide-container .slide-info .info {
  font-weight: 500;
  font-size: 2rem;
  margin: 3rem 0;
  text-transform: uppercase;
}

.slide-container .slide-info button {
  width: 10rem;
  margin-top: 1rem;
  border: none;
  padding: 0.5rem 1rem;
  font-weight: 500;
  font-size: 1.5rem;
  border-radius: 25px;
  text-transform: uppercase;
  background-color: #b9eed4;
}

.prev {
  position: absolute;
  border: none;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  border: 4px solid rgba(240, 116, 209, 0.212);
  top: 50%;
  background-color: rgba(185, 238, 212, 0.301);
  z-index: 1;
  left: 1rem;
}

.prev:hover {
  cursor: pointer;
  background-color: rgba(240, 116, 209, 0.5);
}

.next {
  position: absolute;
  border: none;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  border: 4px solid rgba(240, 116, 209, 0.212);
  top: 50%;
  background-color: rgba(185, 238, 212, 0.301);
  z-index: 1;
  right: 1rem;
}

.next:hover {
  cursor: pointer;
  background-color: rgba(240, 116, 209, 0.5);
}
/*# sourceMappingURL=App.css.map */